*.terraform/
*.terraform.lock*
*.tfstate
*.tfstate.backup
*.env
.idea/
.vscode/
*__pycache__/
*helper_script.sh
*cuckoo_api_key.txt
*output/
*output2/
*logs/
*log/
*.qcow2
*.qcow2.convert
*.img
*.iso
*.fuse*
*/packer_cache/
*.packer.d/
*.log
*venv/*
*.fuse_hidden*
*.default-network.xml
*certs
